// .photo-tour {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
//   grid-gap: var(--gap);
  
// }

// .photo-tour figure img {
//     width: 100%;
//     object-fit: cover;
// }

// figure.h-card {
//   display: flex;
  
// }

.pubs p {
  margin-block-start: 1.5em;
  padding-block-end: 2em;
  border-bottom: 1px solid var(--sandy-white);
}

.pubs .title-article {
  font-style: italic;
}